body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #aaa;
  background: #282828;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}

h1 {
  font-size: 30px;
}

.tree {
  overflow: scroll;
}

.node {
  display: table-cell;
}

.block {
  padding: 5px;
  border: 1px solid #aaa;
  margin: 7px 7px 2px 7px;
  display: inline-block;
  position: relative;
  width: 60px;
  font-size: .9em;
}

.block i {
  margin-right: 5px;
}

.block::before, .leaves-container.multiple-leaves::before {
  content: "";
  bottom: -13px;
  left: 50%;
  position: absolute;
  height: 12px;
  width: 1px;
  background: #aaa;
}

.tree > .leaves-container > .node > .block-container > .block::before {
  display: none;
}

.leaves-container {
  display: inline-block;
}

.leaves-container.multiple-leaves {
  padding-bottom: 9px;
  margin-bottom: 2px;
  position: relative;
}

.leaves-container.multiple-leaves::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #aaa;
  content: "";
}

.container {
  display: flex;
}

.left-pane {
  width: 25%;
  height: 100vh;
  overflow-y: scroll;
}

.left-pane-content {
  padding: 20px 10px;
}

.center-pane {
  display: flex;
  width: 37.5%;
  flex-shrink: 0;
  flex-basis: auto;
  height: 100vh;
  overflow: scroll;
}

.center-pane-content {
  padding: 20px 10px;
  margin: auto;
}

.right-pane {
  width: 37.5%;
}

.right-pane-content {
  padding: 20px 10px;
}

.flex-container {
  display: flex;
}

.address-container {
  text-align: left;
}

.invalid-transaction {
  color: #F44336;
}

.transaction-form {
  flex-grow: 1;
  text-align: right;
  margin-right: 30px;
}

.transaction-form input, .transaction-form select {
  width: 100px;
}

.miners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.miner {
  margin: 20px;
  text-align: left;
}

.miner select {
  margin-top: 5px;
}

.miner-body {
  display: flex;
  align-items: center;
}

.miner-input {
  text-align: left;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

.miner-input-row {
  border-bottom: 1px solid #aaa;
  display: flex;
  align-items: center;
  padding: 2px 5px;
}

.miner-input-label {
  flex-grow: 1;
  margin-right: 5px;
  font-size: .75em;
}

.miner-input-value i {
  margin-right: 5px;
}

.nonce {
  /* color: white; */
}

.miner-output {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 10px;
  font-size: .75em;
}

.miner-output i {
  margin-top: 5px;
  font-size: 24px;
}

.miner-success {
  /* color: #81C784; */
  color: #fff;
  background: #1B5E20;
}

.transaction i {
  margin: 0 5px;
}

.address i.fa-bitcoin {
  margin-left: 5px;
}

.address i.fa-address-card {
  margin-right: 5px;
}
