body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

.node {
  display: table-cell;
}

.block {
  padding: 5px;
  border: 1px solid #aaa;
  margin: 2px;
  display: inline-block;
}

.leaves-container {
  display: inline-block;
}

.leaves-container.multiple-leaves {
  border-top: 1px solid #aaa;
  padding-top: 2px;
  margin-top: 2px;
}
